#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #224;
  padding-right: 1em;
  padding-left: 1em;
}
h1,h2,h3,h4,h5,h6 {
  text-align: center;
  margin-top: 8px;
}
.top {
  display: flex;
  align-items: center;
}
.categories {
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 4px;
}
.categories > * {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 8px;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
ul {
  list-style-type: none;
  padding: 0;
  max-height: 100%;
  overflow-y: auto;
}
ul li {
  border-top: 1px solid #7a9ce6;
  padding: 6px;
}

li span {
  color: #737383;
}

ul li:nth-child(even) {
  background-color: #fafaff;
}

ul li:first-child {
  border-top: 0px;
}

button.inactive {
  opacity: 0;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  background-color: #aef;
  color: #223232;
  font-weight: bold;
  text-align: center;
}

.bubble.inactive {
  background-color: #cfcfcf;
  opacity: 0.5;
}
.bubble.active {
  border: 3px solid #0033a0;  
}
.bubble {
  --shadow : var(--bg);
  color: var(--fg);
  backgound-color: var(--bg);
  text-shadow: 
    1px 1px var(--shadow), 
    -1px 1px var(--shadow), 
    1px -1px var(--shadow),
    1px 1px var(--shadow);
    
}

@media (min-width: 900px) {
  .cols {
    display: flex;
    justify-content: center;
    gap: 8px;
    max-height: 90vh;
  }
  
  #visualization-container {
    position: relative;
    width: min(calc(100vw - 32em),1200px);
    height: 600px;
  }
  
}
@media (max-width: 899px) {
  #visualization-container {
    position: relative;
    width: 90vw;
    margin: auto;
    height: 70vh;
  }
  .top {
    font-size: 14px;
  }
  .top h1 {
    font-size: 14px;
    font-weight: bold;
  }
}
  
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}

.close {
    color: #f44336; /* Red */
    background-color: transparent;
  padding: 0;
}

.close:hover {
    color: #da190b; /* Darker red */
}


button.close {
  width: 32px;
  height: 32px;
  display: inline-grid;
  place-content: center;
}